
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

<div class="container">

    <div class="content">
        <h4>Drag the following button into your bookmarks bar.</h4>
        <a class="btn btn-lg btn-primary btn-block" href="javascript:(function(){s=document.createElement('script');s.type='text/javascript';s.src='http://localhost:3000/js/led.js';document.body.appendChild(s);})();">LED</a>
    </div>
</div> <!-- /container -->

</body>
</html>